/* Reset */
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f6f8f9;
    font-family: 'Arial', sans-serif;
}

header{
    background-color: white;
    margin-bottom: 50px;
}

#header-logo{
    width: 95%;
    padding: 10px;
    margin: 0 auto;
}

#logo{
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}

#logo-text{
    display: inline;
    font-weight: 700;
    height: 50px;
    vertical-align: middle;
}

.container{
    width: 70%;
    margin: 3px auto;
    padding: 20px 50px 10px;
    background-color: white;
    border-radius: 5px;
}

#task-button{
    background-color: #47adf1;
    padding: 5px 10px;
    color: white;
    border-radius: 5px;
    border-width: 2px;
    border-color: #47adf1;
    border-style: solid;
}

/* Hover del primo pulsante Task */
#task-button:hover{
    background-color: white;
    color: #47adf1;
}

#section-button{
    background-color: white;
    padding: 5px 10px;
    color: #b6bbc0;
    border-radius: 5px;
    border-width: 2px;
    border-color: #b6bbc0;
    border-style: solid;
}

/* Hover del secondo pulsante Section */
#section-button:hover{
    background-color: #b6bbc0;
    color: white;
}

.toogle{
    font-size: 35px;
    vertical-align: text-top;
}

.title{
    vertical-align: middle;
    margin: 0;
    margin-top: 10px;
}

.list-item{
    margin-left: 5px;
}

.icon-check{
    color: green;
    border-width: 1px;
    border-style: solid;
    border-radius: 100%;
    padding: 2px 4px;
    font-size: 10px;
    vertical-align: middle;
    font-weight: bold;
}

.text-item{
    display: inline-block;
    vertical-align: middle;
    margin-left: 5px;
}

.editorial{
    background-color: #45abea;
    padding: 4px 8px;
    color: white;
    border-radius: 15px;
    border-width: 2px;
    border-color: #45abea;
    border-style: solid;
    font-size: 11px;
}